@media only screen and (min-width:1400px){
    /*    #duel-offer .container{
            max-width: fit-content;
            margin: 0 auto;
            margin-left: 115px;
            margin-right: 115px;
        }    */
}
@media only screen and (min-width:1200px){
    #testimonial .carousel-indicators{
        transform: rotate(90deg);
        top: 50%;
        bottom: 0px;
        width: 10%;
        height: 6%;
        position: absolute;
        right: -40px;
        left: auto;
        margin: 0 auto;
    }  
}
@media (max-width:1200px) and (min-width:992px){
    .service-highlight .box h6{
        min-height: 42px;
        font-size: 15px
    }
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption h3{
        font-size: 34px;
    }
    .carousel-caption p{
        font-size: 20px;
    }
    #what-we-offer{
        padding-top: 0;
    }
    #what-we-offer:before{
        width: 100%;
    }
    #what-we-offer .box{
        padding: 20px 0px;
        background: #0a50a1;
        border: none;
        margin-top: -15px;
    }
    #what-we-offer .box:before{
        content: "";
        background: url(../images/what-we-offer-lft.png) no-repeat;
        position: absolute;
        left: 5px;
        width: 10px;
        height: 50px;
        top: -15px;
    }
    #what-we-offer .box:after{
        content: "";
        background: url(../images/what-we-offer-rit.png) no-repeat;
        position: absolute;
        right: 20px;
        width: 10px;
        height: 50px;
        top: -15px;
    }
    #what-we-offer .box2{
        text-align: center;
    }
    #what-we-offer .box2 h5:after{
        right: 0px;
        margin: 0 auto;
    }
    .icon-box .wrapper-info .title{
        min-height: 54px;
    }
    #our-service .red-box{
        padding-right: 53%;
    }
    #our-service .white-box{
        width: 53%;
        top: -20%;
    }
    #duel-offer:before {
        position: absolute;
        content: '';
        left: 0px;
        top: 0px;
        width: 100%;
        height: 50%;
        display: block;
        background: url(../images/duel-offer.jpg) no-repeat;
        background-size: cover;
        z-index: -1;
    }
    #duel-offer h2 {
        font-size: 32px
    }
    #duel-offer p {
        font-size: 14px;
    }
    #duel-offer {
        padding-top: 130px;
    }
    #duel-offer .box{
        padding-bottom: 100px;
    }
    #duel-offer .box2{
        padding-top: 100px;
    }
    #get-quote-message h4{
        font-size: 28px;
    }
    #get-quote-message .button{
        font-size: 14px;
    }
    #blog .blog-box .main-content .blog-title{
        font-size: 21px;
    }
    #blog .blog-box .blog-content .date .day{
        font-size: 32px;
    }
    #testimonial .client-profile{
        width: 20%;
    }
    #testimonial .testi-content{
        width: 78%;
        margin-left: 15%;
    }
    #testimonial .carousel-indicators{
        right: -5px;
    }
    #testimonial .carousel-indicators{
        transform: rotate(90deg);
        top: 50%;
        bottom: 0px;
        width: 10%;
        height: 6%;
        position: absolute;
        right: -15px;
        left: auto;
        margin: 0 auto;
    }
    #duel-offer .tab-list ul li a{
        padding: 12px 10px;
    }
    .header nav .navbar-nav .nav-item {
        padding: 15px 5px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 22px 0px;
        font-size: 11px;
    }
    .header.sticky .navbar-nav .nav-item{
        padding: 0px 5px;
    }
    .header.sticky .navbar-nav .nav-item .nav-link{
        padding: 25px 0px;
        font-size: 11px;
    }
    .service-page .great-plan .bg-image:before{
        display: none;
    }
    .navbar-light .navbar-nav li.get-quote{
        bottom: -32px;
    }
    #about-sec .about-img{
        background-size: cover !important;
        background-position: center !important;
    }
    #duel-offer .services-tab .tab-content ul li{
        width: 46%;
    }
    .ports-we-serve-page .services-tab .tab-pane.right .pad-left0{
        padding-left: 15px;
    }
    .ports-we-serve-page .services-tab .tab-pane.left {
        padding-left: 0px;
    }
    .ports-we-serve-page .services-tab .tab-pane.left .service-content{
        padding-left: 30px;
    }
}
@media (max-width:992px) and (min-width:768px){
    .top-header ul li {
        font-size: 10px;
        margin-right: 10px;
    }
    .header nav .navbar-nav{
        width: 100%;
        background: #e7e7e7;
    }
    .header nav .navbar-nav .nav-item:last-child{
        border-bottom: 0px;
    }
    .header nav .navbar-nav .nav-item{
        padding: 5px 15px;
        margin-right: 0px;
        border-bottom: 1px solid #0a50a126;
    }
    .navbar-light .navbar-nav li.active a{
        color: white !important;
    }   
    .navbar-light .navbar-nav li.active{
        background: #0a50a1;
        color: white;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: #ffffff !important;
    }
    .header.sticky .navbar-nav .nav-item{
        padding: 5px 15px;
        margin-right: 0px;
        border-bottom: 1px solid #0a50a126;
    }
    .service-highlight .box.sm-red{
        background: #b90102;
    }
    .service-highlight .box.sm-red icon img{
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
    .service-highlight .box.sm-red h6{
        color: white;
    }
    .service-highlight .box.sm-red h6:after{
        background: #e8aaab;
    }
    .service-highlight .box.sm-red p{
        color: white;
    }
    .service-highlight .box.sm-red a{
        color: #fff;
    }
    .service-highlight .box.sm-white{
        background: #1052a0;
    }
    .service-highlight .box.sm-white h6{
        color: #fff;
    }
    .service-highlight .box.sm-white h6:after{
        background: #0a50a1;
    }
    .service-highlight .box.sm-white p{
        color: #fff;
    }
    .service-highlight .box.sm-white a{
        color: #0a50a1;
    }
    .service-highlight .box .ship{
        position: unset;
        height: auto;
        width: -webkit-fill-available;
        background: transparent;
        border: 0px;
        margin-top: 20px;
    }
    .service-highlight .box .ship img{
        display: none;
    }
    .service-highlight .box .ship span{
        color: #ffffff;
        text-align: center;
        position: unset;
        bottom: 0;
        width: max-content;
        margin: 0 auto;
        float: none;
        left: auto;
        right: auto;
        opacity: 1;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .service-highlight .box.red{
        border-bottom: 1px solid #e8aaab;
    }
    .service-highlight .box{
        border-bottom: 1px solid #e4e2e2;
    }
    .navbar-light .navbar-brand img{
        width: 70%;
    }
    #about-sec .about-logo{
        margin-bottom: 15px;
        margin: 0 auto;
        display: inherit;
    }
    #about-sec .about-content{
        padding-top: 15px; 
        text-align: justify;
        text-align-last: center;
    }
    #about-sec img{
        margin: 0 auto;
        display: inherit;
    }
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption h3{
        font-size: 34px;
    }
    .carousel-caption p{
        font-size: 20px;
    }
    .banner-container{
        display: none;
    }
    #what-we-offer{
        padding-top: 0;
    }
    #what-we-offer:before{
        width: 100%;
    }
    #what-we-offer .box{
        padding: 20px 0px;
        background: #0a50a1;
        border: none;
        margin-top: -15px;
    }
    #what-we-offer .box:before{
        content: "";
        background: url(../images/what-we-offer-lft.png) no-repeat;
        position: absolute;
        left: 5px;
        width: 10px;
        height: 50px;
        top: -15px;
    }
    #what-we-offer .box:after{
        content: "";
        background: url(../images/what-we-offer-rit.png) no-repeat;
        position: absolute;
        right: 20px;
        width: 10px;
        height: 50px;
        top: -15px;
    }
    #what-we-offer .box h6{
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    #what-we-offer .box h6 span{
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }
    #what-we-offer .box2{
        text-align: center;
    }
    #what-we-offer .box2 h5:after{
        right: 0px;
        margin: 0 auto;
    }
    #features .icon-box{
        margin-bottom: 55px;
    }
    #our-service .red-box{
        margin-top: 30px;
        padding-right: 0px;
    }
    #our-service .white-box{
        position: unset;
        width: 100%;
    }
    #duel-offer:before {
        position: absolute;
        content: '';
        left: 0px;
        top: 0px;
        width: 100%;
        height: 50%;
        display: block;
        background: url(../images/duel-offer.jpg) no-repeat;
        background-size: cover;
        z-index: -1;
    }
    #duel-offer h2 {
        font-size: 32px
    }
    #duel-offer p {
        font-size: 14px;
    }
    #duel-offer {
        padding: 50px 0px;
    }
    #duel-offer .box{
        padding-bottom: 100px;
    }
    #duel-offer .box2{
        padding-top: 100px;
    }
    #get-quote-message .overlay{
        padding: 75px 0;
    }
    #get-quote-message h4{
        font-size: 23px;
        line-height: 40px;
    }
    #get-quote-message .button{
        font-size: 14px;
    }
    #blog .blog-box .image-box{
        margin-bottom: 0px;
    }
    #blog .blog-box .blog-content{
        border: 1px solid #1349962e;
        padding-top: 15px;
        border-top: 0;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    #blog .blog-box .blog-content{
        position: relative;
    }
    #blog .blog-box .blog-content .date{
        position: absolute;
        top: -85px;
    }
    #blog .blog-box .main-content{
        width: 100%;
        padding: 0px 25px 0px 25px;
    }
    #blog .blog-box .main-content .blog-title{
        font-size: 21px;
    }
    #blog .blog-box .blog-content .date .day{
        font-size: 32px;
    }
    footer .footer-top .contact-info{
        margin-bottom: 50px;
        min-height: 199px;
    }
    footer .footer-top .overlay{
        padding-bottom: 50px;
    }
    #testimonial #carouselExampleControls .carousel-inner{
        padding: 0px 25px;
    }
    #testimonial .client-profile{
        left: 37.5%;
        right: 0px;
        display: inline-block;
    }
    #testimonial .testi-content{
        width: 100%;
        margin-left: 0px; 
        padding-left: 30px;
        padding-top: 130px;
    }
    #testimonial .testi-content icon{
        display: none;
    }
    #testimonial .carousel-indicators{
        bottom: 15px;
    }
    #contact-form-area:before{
        display: none;
    }
    #contact-map .contact-info{
        display: inline-block;
        margin-bottom: 60px;
    }
    #contact-map .contact-info .box{
        width: 100%;
        float: left;
    }
    #contact-map .contact-info .box:last-child{
        margin-bottom: 50px;
    }
    .projects-gallery .sec-title p{
        margin: 20px 40px 40px 40px;
    }
    .why-us .sec-title {
        margin-bottom: 40px;
    }
    .why-us:before{
        display: none;
    }
    .apply-form:before{
        display: none;
    }
    #duel-offer .tab-list ul li a{
        padding: 12px 5px;
        font-size: 11px;
    }
    #duel-offer {
        padding-top: 130px;
    }
    .service-page .great-plan .bg-image:before{
        display: none;
    }
    .navbar-light .navbar-nav li.get-quote{
        position: unset;
        padding: 5px 15px !important;
    }
    .navbar-light .navbar-nav li.get-quote a{
        padding: 8px 0px !important;
    }
    .top-header ul li.header-contact {
        font-size: 12px;
        margin-top: -1px;
        margin-bottom: -1px;
    }
    .about-page .sec-2:before{
        width: 100%;
        height: 50%;
    }
    .about-page .sec-2:after{
        width: 100%;
        height: 50%;
        top: auto;
        bottom: 0px;
    }
    .about-page .sec-2{
        padding-top: 0px;
    }
    .about-page .sec-2 h6.heading{
        padding-top: 50px;
    }
    .about-page .sec-2 h6.heading:first-child{
        padding-top: 50px;
    }
    .about-page .about-rit-img{
        width: 50%;
    }
    #duel-offer .services-tab .tab-content .image-box {
        margin-bottom: 15px;
    }
    .ports-we-serve-page .services-tab .tab-pane.right .pad-left0{
        padding-left: 15px;
    }
    .ports-we-serve-page .services-tab .tab-pane.left {
        padding-left: 0px;
    }
    .ports-we-serve-page .services-tab .tab-pane.left .service-content{
        padding-left: 30px;
    }
}
@media (max-width:768px) and (min-width:576px){
    .top-header ul li {
        font-size: 10px;
        margin-right: 10px;
    }
    .top-header ul{
        text-align: center;
        display: inline-block;
        float: none;
        margin-bottom: 0;
    }
    .top-header{
        text-align: center;
    }
    .header nav .navbar-nav {
        width: 100%;
        background: #e7e7e7;
    }
    .header nav .navbar-nav .nav-item {
        padding: 5px 15px;
        margin-right: 0px;
        border-bottom: 1px solid #0a50a126;
    }
    .header.sticky .navbar-nav .nav-item {
        padding: 5px 15px;
        margin-right: 0px;
        border-bottom: 1px solid #0a50a126;
    }
    .service-highlight .box.sm-red{
        background: #b90102;
    }
    .service-highlight .box.sm-red icon img{
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
    .service-highlight .box.sm-red h6{
        color: white;
    }
    .service-highlight .box.sm-red h6:after{
        background: #e8aaab;
    }
    .service-highlight .box.sm-red p{
        color: white;
    }
    .service-highlight .box.sm-red a{
        color: #fff;
    }
    .service-highlight .box.sm-white{
        background: #1052a0;
    }
    .service-highlight .box.sm-white h6{
        color: #fff;
    }
    .service-highlight .box.sm-white h6:after{
        background: #0a50a1;
    }   
    .service-highlight .box.sm-white p{
        color: #fff;
    }
    .service-highlight .box.sm-white a{
        color: #0a50a1;
    }
    .service-highlight .box .ship{
        position: unset;
        height: auto;
        width: -webkit-fill-available;
        background: transparent;
        border: 0px;
        margin-top: 20px;
    }
    .service-highlight .box .ship img{
        display: none;
    }
    .service-highlight .box .ship span{
        color: #ffffff;
        text-align: center;
        position: unset;
        bottom: 0;
        width: max-content;
        margin: 0 auto;
        float: none;
        left: auto;
        right: auto;
        opacity: 1;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .service-highlight .box.red{
        border-bottom: 1px solid #e8aaab;
    }
    .service-highlight .box{
        border-bottom: 1px solid #e4e2e2;
    }
    .navbar-light .navbar-brand img{
        width: 70%;
    }
    .service-highlight .box h6{
        min-height: 42px;
    }
    #about-sec .about-logo{
        margin-bottom: 15px;
        margin: 0 auto;
        display: inherit;
    }
    #about-sec .about-content{
        padding-top: 0px; 
    }
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption h3{
        font-size: 28px;
    }
    .carousel-caption p{
        font-size: 16px;
    }
    .banner-container{
        display: none;
    }
    #what-we-offer{
        padding-top: 0;
    }
    #what-we-offer:before{
        width: 100%;
    }
    #what-we-offer .box{
        padding: 20px 0px;
        background: #0a50a1;
        border: none;
        margin-top: -15px;
    }
    #what-we-offer .box:before{
        content: "";
        background: url(../images/what-we-offer-lft.png) no-repeat;
        position: absolute;
        left: 5px;
        width: 10px;
        height: 50px;
        top: -15px;
    }
    #what-we-offer .box:after{
        content: "";
        background: url(../images/what-we-offer-rit.png) no-repeat;
        position: absolute;
        right: 20px;
        width: 10px;
        height: 50px;
        top: -15px;
    }
    #what-we-offer .box h6{
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    #what-we-offer .box h6 span{
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }
    #what-we-offer .box2{
        text-align: center;
    }
    #what-we-offer .box2 h5:after{
        right: 0px;
        margin: 0 auto;
    } 
    #what-we-offer .box h6 span{
        font-size: 48px;
    }
    #what-we-offer .box h6{
        font-size: 20px;
    }
    #what-we-offer .box2 h5{
        font-size: 26px;
    }
    #what-we-offer .box2 span {
        font-size: 15px;
        line-height: 65px;
    }
    #features .icon-box{
        margin-bottom: 55px;
    }
    #our-service .red-box{
        margin-top: 30px;
        padding-right: 0px;
    }
    #our-service .white-box{
        position: unset;
        width: 100%;
    }
    #duel-offer:before {
        position: absolute;
        content: '';
        left: 0px;
        top: 0px;
        width: 100%;
        height: 50%;
        display: block;
        background: url(../images/duel-offer.jpg) no-repeat;
        background-size: cover;
        z-index: -1;
    }
    #duel-offer h2 {
        font-size: 32px
    }
    #duel-offer p {
        font-size: 14px;
    }
    #duel-offer {
        padding: 50px 0px;
    }
    #duel-offer .box{
        padding-bottom: 100px;
    }
    #duel-offer .box2{
        padding-top: 100px;
    }
    #get-quote-message .overlay{
        padding: 75px 0;
    }
    #get-quote-message h4{
        font-size: 23px;
        line-height: 40px;
    }
    #get-quote-message .button{
        font-size: 14px;
    }
    #blog .blog-box .image-box{
        margin-bottom: 0px;
    }
    #blog .blog-box .blog-content{
        border: 1px solid #1349962e;
        padding-top: 15px;
        border-top: 0;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    #blog .blog-box .blog-content{
        position: relative;
    }
    #blog .blog-box .blog-content .date{
        position: absolute;
        top: -85px;
    }
    #blog .blog-box .main-content{
        width: 100%;
        padding: 0px 25px 0px 25px;
    }
    #blog .blog-box .main-content .blog-title{
        font-size: 21px;
    }
    #blog .blog-box .blog-content .date .day{
        font-size: 32px;
    }
    footer .footer-top .contact-info{
        margin-bottom: 50px;
    }
    footer .footer-top .overlay{
        padding-bottom: 50px;
    }
    #testimonial #carouselExampleControls .carousel-inner{
        padding: 0px 25px;
    }
    #testimonial .client-profile{
        left: 37.5%;
        right: 0px;
        display: inline-block;
    }
    #testimonial .testi-content{
        width: 100%;
        margin-left: 0px; 
        padding-left: 30px;
        padding-top: 80px;
    }
    #testimonial .testi-content icon{
        display: none;
    }
    #testimonial .carousel-indicators{
        bottom: 15px;
    }
    #contact-form-area:before{
        display: none;
    }
    #contact-map .contact-info{
        margin-bottom: 60px;
    }
    #contact-map .contact-info .box{
        width: 100%;
    }
    #contact-map .contact-info .box:last-child{
        margin-bottom: 50px;
    }
    .projects-gallery .sec-title p {
        margin: 20px 0px 40px 0px;
    }
    .why-us .sec-title {
        margin-bottom: 40px;
    }
    .why-us:before{
        display: none;
    }
    .apply-form:before{
        display: none;
    }
    #duel-offer .tab-list ul li{
        width: 100%;
    }
    #duel-offer .tab-list ul li a{
        width: 100%;
        padding: 8px 5px;
        font-size: 11px;
    }
    #duel-offer {
        padding-top: 130px;
    }
    #duel-offer .services-tab .tab-content{
        padding: 15px;
    }
    #duel-offer .services-tab .tab-content .image-box{
        margin-bottom: 15px;
    }
    .service-page .great-plan .bg-image:before{
        display: none;
    }
    .sec-heading h2{
        font-size: 26px;
    }
    .sec-heading .sub-head{
        font-size: 8px;
    }
    .navbar-light .navbar-nav li.get-quote{
        position: unset;
        padding: 5px 15px !important;
    }
    .navbar-light .navbar-nav li.get-quote a{
        padding: 8px 0px !important;
    }
    .top-header ul li.header-contact {
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .top-header ul.left, .top-header ul.left li{
        width: 100%;
        margin-bottom: 5px;
    }
    .top-header ul.center,  .top-header ul.right{
        width: 50%;
        float: left;
    }
    .top-header ul.center li,  .top-header ul.right li{
        width: 100%;  
    }
    .about-page .sec-2:before{
        width: 100%;
        height: 50%;
    }
    .about-page .sec-2:after{
        width: 100%;
        height: 50%;
        top: auto;
        bottom: 0px;
    }
    .about-page .sec-2{
        padding-top: 0px;
    }
    .about-page .sec-2 h6.heading{
        padding-top: 50px;
    }
    .about-page .sec-2 h6.heading:first-child{
        padding-top: 50px;
    }
    .ports-we-serve-page .services-tab .tab-pane.right .pad-left0{
        padding-left: 15px;
    }
    .ports-we-serve-page .services-tab .tab-pane.left {
        padding-left: 0px;
    }
    .ports-we-serve-page .services-tab .tab-pane.left .service-content{
        padding-left: 30px;
    }
    .ports-we-serve-page .services-tab ul li{
        width: 100%;
    }
}
@media only screen and (max-width:576px){
    .top-header ul li {
        font-size: 10px;
        margin-right: 10px;
    }
    .top-header ul{
        text-align: center;
        display: inline-block;
        float: none;
        margin-bottom: 0;
    }
    .top-header{
        text-align: center;
    }
    .header nav .navbar-nav {
        width: 100%;
        background: #e7e7e7;
    }
    .header nav .navbar-nav .nav-item {
        padding: 5px 15px;
        margin-right: 0px;
        border-bottom: 1px solid #0a50a126;
    }
    .header.sticky .navbar-nav .nav-item {
        padding: 5px 15px;
        margin-right: 0px;
        border-bottom: 1px solid #0a50a126;
    }
    .sec-heading h2{
        font-size: 26px;
    }
    .sec-heading .sub-head{
        font-size: 8px;
    }
    .service-highlight .box .ship{
        position: unset;
        height: auto;
        width: -webkit-fill-available;
        background: transparent;
        border: 0px;
        margin-top: 20px;
    }
    .service-highlight .box .ship img{
        display: none;
    }
    .service-highlight .box .ship span{
        color: #ffffff;
        text-align: center;
        position: unset;
        bottom: 0;
        width: max-content;
        margin: 0 auto;
        float: none;
        left: auto;
        right: auto;
        opacity: 1;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .navbar-light .navbar-brand img{
        width: 70%;
    }
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption h3{
        font-size: 18px;
        line-height: 30px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
    .banner-container{
        display: none;
    }
    #what-we-offer{
        padding-top: 0;
    }
    #what-we-offer:before{
        width: 100%;
    }
    #what-we-offer .box{
        padding: 20px 0px;
        background: #0a50a1;
        border: none;
        margin-top: -15px;
    }
    #what-we-offer .box:before{
        content: "";
        background: url(../images/what-we-offer-lft.png) no-repeat;
        position: absolute;
        left: 5px;
        width: 10px;
        height: 50px;
        top: -15px;
    }
    #what-we-offer .box:after{
        content: "";
        background: url(../images/what-we-offer-rit.png) no-repeat;
        position: absolute;
        right: 20px;
        width: 10px;
        height: 50px;
        top: -15px;
    }
    #what-we-offer .box h6{
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    #what-we-offer .box h6 span{
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }
    #what-we-offer .box2{
        text-align: center;
    }
    #what-we-offer .box2 h5:after{
        right: 0px;
        margin: 0 auto;
    } 
    #what-we-offer .box h6 span{
        font-size: 32px;
    }
    #what-we-offer .box h6{
        font-size: 14px;
    }
    #what-we-offer .box2 h5{
        font-size: 22px;
        margin-bottom: 25px;
    }
    #what-we-offer .box2 span {
        font-size: 13px;
        line-height: 26px;
    }
    #what-we-offer .box2 p {
        margin-top: 15px;
    }
    #features .icon-box{
        margin-bottom: 55px;
    }
    #our-service .red-box{
        margin-top: 30px;
        padding-right: 0px;
    }
    #our-service .white-box{
        position: unset;
        width: 100%;
    }
    #duel-offer:before {
        position: absolute;
        content: '';
        left: 0px;
        top: 0px;
        width: 100%;
        height: 50%;
        display: block;
        background: url(../images/duel-offer.jpg) no-repeat;
        background-size: cover;
        z-index: -1;
    }
    #duel-offer h2 {
        font-size: 27px
    }
    #duel-offer p {
        font-size: 12px;
    }
    #duel-offer {
        padding: 50px 0px;
    }
    #duel-offer .box{
        padding-bottom: 100px;
    }
    #duel-offer .box2{
        padding-top: 100px;
    }
    #duel-offer .button{
        font-size: 13px;
    }
    #get-quote-message .overlay{
        padding: 75px 0;
    }
    #get-quote-message h4{
        font-size: 23px;
        line-height: 40px;
    }
    #get-quote-message .button{
        font-size: 14px;
    }
    #blog .blog-box .image-box{
        margin-bottom: 0px;
    }
    #blog .blog-box .blog-content{
        border: 1px solid #1349962e;
        padding-top: 15px;
        border-top: 0;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    #blog .blog-box .blog-content{
        position: relative;
    }
    #blog .blog-box .blog-content .date{
        position: absolute;
        top: -85px;
    }
    #blog .blog-box .main-content{
        width: 100%;
        padding: 0px 25px 0px 25px;
    }
    #blog .blog-box .main-content .blog-title{
        font-size: 21px;
    }
    #blog .blog-box .blog-content .date .day{
        font-size: 32px;
    } 
    footer .footer-top .contact-info{
        margin-bottom: 50px;
    }
    footer .footer-top .overlay{
        padding-bottom: 50px;
    }
    footer .footer-bottom .categories ul li{
        width: 100%;
        float: none;
    }
    #testimonial #carouselExampleControls .carousel-inner{
        padding: 0px 25px;
    }
    #testimonial .client-profile{
        left: 37.5%;
        right: 0px;
        display: inline-block;
    }
    #testimonial .testi-content{
        width: 100%;
        margin-left: 0px; 
        padding-left: 30px;
        padding-top: 80px;
    }
    #testimonial .testi-content icon{
        display: none;
    }
    #testimonial .carousel-indicators{
        bottom: 15px;
    }
    #contact-form-area:before{
        display: none;
    }
    #contact-map .contact-info{
        margin-bottom: 60px;
    }
    #contact-map .contact-info .box{
        width: 100%;
    }
    #contact-map .contact-info .box:last-child{
        margin-bottom: 50px;
    }
    .projects-gallery .sec-title p {
        margin: 20px 0px 40px 0px;
    }
    .why-us .sec-title {
        margin-bottom: 40px;
    }
    .why-us:before{
        display: none;
    }
    .apply-form:before{
        display: none;
    }
    #duel-offer .tab-list ul li{
        width: 100%;
    }
    #duel-offer .tab-list ul li a{
        width: 100%;
        padding: 8px 5px;
        font-size: 11px;
    }
    #duel-offer {
        padding-top: 130px;
    }
    #duel-offer .services-tab .tab-content{
        padding: 15px;
    }
    #duel-offer .services-tab .tab-content .image-box{
        margin-bottom: 15px;
    }   
    .service-page .great-plan .bg-image:before{
        display: none;
    }
    .page-banner-area .title-command-wrapper{
        min-width: max-content;
        padding: 30px 15px;
    }
    .navbar-light .navbar-nav li.get-quote{
        position: unset;
        padding: 5px 15px !important;
    }
    .navbar-light .navbar-nav li.get-quote a{
        padding: 8px 0px !important;
    }
    .top-header ul li.header-contact {
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .top-header ul.left, .top-header ul.center, .top-header ul.right{
        width: 100%;
        display: inline-grid;
    }
    .about-page .sec-2:before{
        width: 100%;
        height: 50%;
    }
    .about-page .sec-2:after{
        width: 100%;
        height: 50%;
        top: auto;
        bottom: 0px;
    }
    .about-page .sec-2{
        padding-top: 0px;
    }
    .about-page .sec-2 h6.heading{
        padding-top: 50px;
    }
    .about-page .sec-2 h6.heading:first-child{
        padding-top: 50px;
    }
    .ports-we-serve-page .services-tab .tab-pane.right .pad-left0{
        padding-left: 15px;
    }
    .ports-we-serve-page .services-tab .tab-pane.left {
        padding-left: 0px;
    }
    .ports-we-serve-page .services-tab .tab-pane.left .service-content{
        padding-left: 30px;
    }
    .ports-we-serve-page .services-tab ul li{
        width: 100%;
    }
}